*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo{
    height: fit-content;
    margin: 1.8rem;
}

/* .icon{
    width: 15px;
} */
nav{
    background-image: url(./asset/Frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 400px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    height: fit-content;
}

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    background-color: #000000;
    border: 1px dotted rgb(85, 82, 82);
    font-size: .8rem;
    padding: .1rem .2rem;
    border-radius: 1px;
}

.sign-in{
    background-color: #E50914;
    padding: .2rem .8rem;
    font-size: .8rem;
    border-radius: 1px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.top-text{
    text-align: center;
    font-size: 2.4rem;
    width: 350px;
}
.top-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.top-search p{
    font-size: .6rem;
    text-align: center;
}

input{
    width: 300px;
    padding: .6rem;
}

input::placeholder{
    font-size: .6rem;
    color: #8C8C8C;
}

.get-started{
    background-color: #E50914;
    padding: .65rem 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    width: fit-content;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-wrap: wrap;
   gap: .1rem;
    margin-top: .8rem;  
}

p{
    width: auto;
}



